<%= stylesheet_link_tag "cardList" %>
<div class="cardlistcontainer">
  <h1 class="cardlisttitle">Recent Posts</h1>
  <div class="cardlistposts">
    LIST OF ALL POSTS HERE
  </div>
  <%= render partial: "pagination" %>
</div>