<%= stylesheet_link_tag "card" %>
<div class="cardcontainer">
  <div class="cardimageContainer">
    <%= image_tag("/p1.jpeg", :alt => "Image Placeholder", :class => "cardimage") %>
  </div>
  <div class="cardtextContainer">
    <div class="carddetail">
      <span class="carddate">{item.createdDate}</span>
      <span class="cardcategory">{item.category}</span>
    </div>
    <a href="/">
      <h1>{item.title}</h1>
    </a>
    <p class="carddesc">{item.desc}</p>
    <a href="/" class="cardlink">
      Read More...
    </a>
  </div>
</div>
