<%= stylesheet_link_tag "pagination" %>
<div class="paginationcontainer">
  <%= button_to "Previous", homepage_path, :class => "paginationbutton", method: :get%>
  <%= button_to "Next", homepage_path, :class => "paginationbutton", method: :get%>
</div>
