<%= stylesheet_link_tag "blogPage" %>
<div class="blogpagecontainer">
  <h1 class="blogpagetitle">Testing Blog</h1>
  <div class="blogpagecontent">
    <%= render partial: "cardList" %>
    <%= render partial: "menu" %>
  </div>
</div>